body{
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #d2cecf, #858888); /* 핑크 -> 민트 */
  color: #5a5a5a; 
  filter: grayscale(0%); 
}


  a{
display: block;
text-decoration: none;
font-size: 1.5rem;
color: rgb(240, 182, 224);
background: rgba(59, 61, 162, 0.2);
padding: 15px;
margin: 10px auto;
width: 300px;
border-radius: 10px;
transition: all 0.3s ease-in-out;
}
a:hover {
background: rgba(255, 255, 255, 0.5);
color: rgb(0, 0, 0);
transform: scale(1.05);
}
hr {
width: 50%;
margin: 20px auto;
border: 1px solid rgba(255, 255, 255, 0.3);
}
