body {
    background-image: url('photos/milkyway1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    text-align: center;
  }


body{
    
}