        
body{
    text-align: center;
  }


  body {
    background-color: black;
    background-image: url('https://i.namu.wiki/i/sjOsR9xW0Oa3UmhdHR14_vySRRqOGgliEH-mYPH6hZAqDsR47bCJ3WnNJSP9JWNzlJyGQ9VxmthYBW92g2aKvEsBzXPk2afIn92OrjqjO46-TdG09fwXujucLV89cQKDUhOzoav2J4g7SgLAsG_aIw.webp');
    color: white; 
  }
h1.font {
    color: black;      
    font-size: 50px;    
}
