body{
    text-align: center;
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png') repeat;
    background-color: #222;
    color: #ddd;
  
  }
  .big-text {
    font-size: 40px;
  }
  
  .medium-text {
    font-size:26px;
  }
  .samll-text{
    font-size:17px;
  }
h1{
  font-size: 60px;
}
b1{
    color:red;
    text-decoration: none; 
}
b2{
  color: orange;
  text-decoration: none; 

}
b3{
  color:yellow;
  text-decoration: none


}

b4{
  color:gainsboro;
  text-decoration: none
}

.gong {
  display: block;
  padding: 25px;

   
}
a{
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  background: rgba(203, 89, 231, 0.2); 
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}


b5{
  color:rgb(245, 190, 108);
  text-decoration: none
}
b6{
  color:rgb(238, 59, 35);
  text-decoration: none
}
b7{
  color:rgba(75, 101, 248, 0.774);
  text-decoration: none

}
b8{
  color:rgba(33, 33, 36, 0.932);
  text-decoration: none

}
b9{
  color:rgba(15, 15, 209, 0.932);
  text-decoration: none


}
b10{
  color:rgba(212, 153, 167, 0.932);
  text-decoration: none


}
